30-enterprise-software-development-java/30-web-services/20-SOAP-XML/src/main/java/_03_wsdl/hello.wsdl

<?xml version  =  "1.0" encoding  =  "UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema elementFormDefault="qualified"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="helloWorld">
                <complexType>
                    <sequence>
                        <element name="name" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="helloWorldResponse">
                <complexType>
                    <sequence>
                        <element name="helloWorldReturn" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="helloWorldResponse">
        <wsdl:part element="helloWorldResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="helloWorldRequest">
        <wsdl:part element="helloWorld" name="parameters">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="WSDemo">
        <wsdl:operation name="helloWorld">
            <wsdl:input message="helloWorldRequest" name="helloWorldRequest">
            </wsdl:input>
            <wsdl:output message="helloWorldResponse" name="helloWorldResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WSDemoSoapBinding" type="WSDemo">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="helloWorld">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="helloWorldRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="helloWorldResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WSDemoService">
        <wsdl:port binding="WSDemoSoapBinding" name="WSDemo">
            <wsdlsoap:address location="http://localhost:8080/WebServiceDemo/services/WSDemo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>